{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}
    <script>

        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput-offer");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("tr");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByClassName("offer-title-link")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";

                }
            }
        }
        function showOffer() {
            let input, filter, ul, li, a, i;
            input = document.getElementById("myInput-id");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            a = ul.getElementsByTagName("tr");
            for (i = 0; i < a.length; i++) {
                a[i].style.display = "none";
            }
            for (i = 0; i < a.length; i++) {
                let h = a[i].getElementsByClassName("offer-id")[0];
                if (h.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";

                }
            }
        }
    </script>

    <div class="container container-my-offers">

        <div class="shadow-box">
            <h3>{{ 'dashboard.proposer.myOffers' | trans }}</h3>

            <style>
                @media screen and (max-device-width: 480px)  {
                    .container-button-offers{
                        display: grid !important;
                    }
                    .element-offer-list{
                        float: none !important;
                    }
                    /* Force table to not be like tables anymore */
                    table, thead, tbody, th, td, tr {
                        display: block;
                    }

                    /* Hide table headers (but not display: none;, for accessibility) */
                    thead tr {
                        position: absolute;
                        top: -9999px;
                        left: -9999px;
                    }

                    tr { border: 1px solid #ccc; }

                    td {
                        /* Behave  like a "row" */
                        border: none;
                        border-bottom: 1px solid #eee;
                        position: relative;
                        padding-left: 50% !important;
                    }

                    td:before {
                        /* Now like a table header */
                        position: absolute;
                        /* Top/left values mimic padding */
                        top: 6px;
                        left: 6px;
                        width: 45%;
                        padding-right: 10px;
                        white-space: nowrap;
                    }

                    /*
                    Label the data
                    */
                    .offers-table td:nth-of-type(1):before { content: "{{ 'offer.title'|trans }}"; }
                    .offers-table td:nth-of-type(5):before { content: "{{ 'dashboard.action'|trans }}"; }


                    .slot-table td:nth-of-type(0):before { content: "#"; }
                    .slot-table td:nth-of-type(1):before { content: "{{ 'dashboard.proposer.slot.offer'|trans }}"; }
                    .slot-table td:nth-of-type(2):before { content: "{{ 'dashboard.proposer.slot.endDate'|trans }}"; }
                }
            </style>

            <table class="table offers-table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'offer.title'|trans }}</th>
                    <th scope="col">{{ 'dashboard.action'|trans }}</th>
                </tr>
                </thead>
            <tbody id="myUL">
                {% for offer in offers %}
                        <tr class='offer-element-dashboard {% if offer.archived %}archived-offer{% endif %}'>
                            <th class="offer-id">{{ offer.id }}</th>
                            <td><a target="_blank" class="offer-title-link" href="{{ path('show_offer', {'id': offer.id, 'url':offer.offerUrl}) }}">{{ offer.type|trans }} {{ offer.town }}</a></td>
                            <td>
                                <a href="{{ path('edit_offer', { 'id': offer.id }) }}" class="btn btn-primary">
                                    {{ 'dashboard.proposer.editOffer' | trans }}
                                </a>
                                <button class="modal-open btn btn-danger" data-href="{{ path('delete_offer', { 'id': offer.id }) }}">
                                    {{ 'admin.ads.archiveUnarchive' | trans }}
                                </button>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
            </table>
            <a href="{{ path('proposer_offers', {'archived':   app.request.get('archived') ? 0:1 }) }}" class="btn btn-primary element-offer-list show-archived">
                {% if app.request.get('archived') %}
                    {{ 'dashboard.proposer.hideArchived' | trans }}
                {% else %}
                    {{ 'dashboard.proposer.showArchived' | trans }}
                {% endif %}
            </a>
            <br>
            <br>
        </div>


            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-dashboard">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'admin.offerList.sureArchive'|trans }}</h4>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-default" id="modal-btn-yes">{{ 'yes'|trans }}</a>
                            <button type="button" class="btn btn-primary modal-btn-no">{{ 'no'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>


            <script>
                $(".offer-element").click(function() {
                    $(this).children(".collapse-offer-info").slideToggle("medium");
                });

                $(".unarchived").click(function() {
                    window.location.replace($(this).data('href'));
                });

                $(".modal-open").on("click", function(e){
                    $('#modal-btn-yes').attr("href", $(this).data('href'));
                    $('#modal-btn-yes').attr("data-global", $(this).data('global'));
                    let trad = $(this).data('trad');

                    $('#myModalLabel').html(trad);
                    $("#modal-dashboard").modal('show');
                });

                $(".modal-btn-no").on("click", function(){
                    $(".modal").modal('hide');
                });

                $("#modal-btn-yes").on("click", function(e){
                    if($(this).data('global') == '1'){
                        e.preventDefault();
                        globalAction($(this).attr('href'))
                    }
                });

                $(".global-a").on("click", function(e){
                    e.preventDefault();
                    let url = $(this).data('href');
                    globalAction(url);
                });

                function globalAction(url) {
                    let id = Array();
                    $('.checkbox-myOffers:checkbox:checked').each(function (i) {
                        id.push($(this).attr("id"));
                    });
                    $.ajax({
                        url: url,
                        data: {id:id,ajax:true}
                    }).done(function( urlFromController ) {
                        window.location.href = urlFromController;
                    });
                }


                $(".checkbox-myOffers-global").on("change", function(e){
                    if($(this).prop("checked") == true){
                        $(".checkbox-myOffers").prop("checked", true);
                    }else{
                        $(".checkbox-myOffers").prop("checked", false);
                    }
                });

                $(".checkbox-myOffers-global,.checkbox-myOffers").on("change", function(e){
                    if($('.checkbox-myOffers:checkbox:checked').length == 0){
                        $('.global-modal, .global-a, .global-activate').prop("disabled",true);
                    }else{
                        // let notActive = 0;
                        // $('.checkbox-myOffers:checkbox:checked').each(function () {
                        //     notActive += $(this).hasClass('not-active')?1:0;
                        // });
                        //
                        // if(notActive>0){
                        //     $('.global-activate').prop("disabled",false);
                        // }else{
                        //     $('.global-activate').prop("disabled",true);
                        // }

                        $('.global-activate').prop("disabled",false);
                        $('.global-modal, .global-a').prop("disabled",false);
                    }
                });


            </script>

    </div>

{% endblock %}