{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

    <div class="container post-offer">

        <h3 class="text-center">{{ 'header.proposers.post'|trans }}</h3>

        <div class="col-md-8">


        {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}


        <div class="form-panel active row shadow-box">
            <div class="col-md-4">
                {{ form_label (form.zipcode, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.zipcode) }}
                {{ form_errors(form.zipcode) }}
            </div>
            <div class="col-md-4">
                {{ form_label (form.town, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.town) }}
                {{ form_errors(form.town) }}
            </div>
            <div class="col-md-6">
                {{ form_label (form.location, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.location) }}
                {{ form_errors(form.location) }}
            </div>
        </div>
        <div class="form-panel row shadow-box">
            <div class="col-md-6">
                {{ form_label (form.type, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.type) }}
                {{ form_errors(form.type) }}
            </div>
        </div>
        <div class="form-panel row shadow-box">
            <div class="col-md-6">
                {{ form_label (form.surface, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.surface) }}
                {{ form_errors(form.surface) }}
            </div>
            <div class="col-md-6 house-field">
                {{ form_label (form.groundSurface, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.groundSurface) }}
                {{ form_errors(form.groundSurface) }}
            </div>
            <div class="col-md-6">
                {{ form_label (form.roomNumber, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.roomNumber) }}
                {{ form_errors(form.roomNumber) }}
            </div>
            <div class="col-md-6">
                {{ form_label (form.bathroomNumber, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.bathroomNumber) }}
                {{ form_errors(form.bathroomNumber) }}
            </div>
            <div class="col-md-6 house-field">
                {{ form_label (form.totalFloor, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.totalFloor) }}
                {{ form_errors(form.totalFloor) }}
            </div>
            <div class="col-md-6 flat-field">
                {{ form_label (form.floor, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.floor) }}
                {{ form_errors(form.floor) }}
            </div>
        </div>
        <div class="form-panel row shadow-box">
            <div class="col-md-6">
                {{ form_label (form.basementSurface, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.basementSurface) }}
                {{ form_errors(form.basementSurface) }}
            </div>
            <div class="col-md-6">
                {{ form_label (form.parkingNumber, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.parkingNumber) }}
                {{ form_errors(form.parkingNumber) }}
            </div>
            <div class="col-md-6">
                {{ form_label (form.buildingYear, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.buildingYear) }}
                {{ form_errors(form.buildingYear) }}
            </div>
            <div class="col-md-6 flat-field">
                {{ form_label (form.lift, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.lift) }}
                {{ form_errors(form.lift) }}
            </div>
            <div class="col-md-6 flat-field">
                {{ form_label (form.balcony, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.balcony) }}
                {{ form_errors(form.balcony) }}
            </div>
        </div>
        <div class="form-panel row shadow-box">

                {% form_theme form.images 'jquery.collection.html.twig' %}
                {{ form_label (form.images, "Photos") }}
                {{ form_widget(form.images) }}
                {{ form_errors(form.images) }}



            <div class="col-md-4 col-md-offset-4">
                {{ form_widget(form.submit, { 'label': 'offer.submit','class': 'btn' }) }}
            </div>
        </div>

        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
        </div>
        <div class="col-md-4">
            <div class="shadow-box summary-offer">
                <div class="animated fadeIn">
                    {{ 'offer.zipcode'|trans }} :
                    <span class="zipcode"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.town'|trans }} :
                    <span class="town"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.location'|trans }} :
                    <span class="location"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.type'|trans }} :
                    <span class="type"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.surface'|trans }} :
                    <span class="surface"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.groundSurface'|trans }} :
                    <span class="groundSurface"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.roomNumber'|trans }} :
                    <span class="roomNumber"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.bathroomNumber'|trans }} :
                    <span class="bathroomNumber"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.totalFloor'|trans }} :
                    <span class="totalFloor"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.floor'|trans }} :
                    <span class="floor"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.basementSurface'|trans }} :
                    <span class="basementSurface"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.parkingNumber'|trans }} :
                    <span class="parkingNumber"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.buildingYear'|trans }} :
                    <span class="buildingYear"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.lift'|trans }} :
                    <span class="lift"></span>
                </div>
                <div class="animated fadeIn">
                    {{ 'offer.balcony'|trans }} :
                    <span class="balcony"></span>
                </div>
            </div>
        </div>
        <div class="bottom-navigation">
            <hr>
            <button class="btn btn-primary previous bottom-button">Previous</button>
            <button class="btn btn-primary next bottom-button">Next</button>
        </div>

    </div>

    {#<script>#}

        {#$(".slider-button").click(function(e) {#}
            {#e.preventDefault();#}
            {#$(".slider").slideToggle("slow");#}


        {#});#}
    {#</script>#}

<script>
    $('.previous').click(function (e) {
        e.preventDefault();
        let next = $('.next');
        if(next.is(":not(:visible)")){
            next.show();
        }
        var cur = $('.form-panel').index($('.form-panel.active'));
        if(cur == 1){
            $(this).hide();
        }
        if (cur!=0) {
            $('.form-panel').removeClass('active');
            $('.form-panel').eq(cur-1).addClass('active');
        }
    });
    $('.next').click(function (e) {
        e.preventDefault();
        let previous = $('.previous');
        if(previous.is(":not(:visible)")){
            previous.show();
        }
        var cur = $('.form-panel').index($('.form-panel.active'));

        let formValue = $('.form-vertical').serializeArray();

        for (let i = 0, len = formValue.length; i < len; i++) {
            let className = formValue[i]['name'];
            var matches = className.match(/\[(.*?)\]/);

            if (matches) {
                className = matches[1];
            }
            if(formValue[i]['value'] != ''){
                $('.'+className).parent().show();
            }

            $('.'+className).html(formValue[i]['value']);
        }
        if(cur == $('.form-panel').length-2){
            $(this).hide();
        }
        if (cur!=$('.form-panel').length-1) {
            $('.form-panel').removeClass('active');
            $('.form-panel').eq(cur+1).addClass('active');
        }
    });
</script>
<style>
    .form-panel:not(.active) {
        display:none;
    }
    .post-offer{
        min-height: 80vh;
        position: relative
    }
    .bottom-navigation{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .previous{
        float: left;
        display: none;
    }
    .next{
        float: right;
    }
    .bottom-button{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        width: 160px;
    }
    .summary-offer div{
        display: none;
    }
    .form-panel, .summary-offer{
        min-height: 600px;
    }
</style>

{% endblock %}