{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <div class="container-progress-bar">
        <div class="progress-bar"></div>
    </div>
    <div class="container post-offer">

        <h3 class="text-center">{{ 'header.proposers.post'|trans }}</h3>

        <div class="row form-row">

        <div class="col-md-8 col-sm-8">

        {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}


        <div class="form-panel active row shadow-box" data-step="1">
            <div class="col-md-6 offer-field">
                {{ form_label (form.zipcode, null, { 'label_attr': {'class': 'label-form'} }) }}<div class="mandatory">*</div>
                {{ form_widget(form.zipcode) }}
                {{ form_errors(form.zipcode) }}
            </div>
            <div class="col-md-6 offer-field">
                {{ form_label (form.town, null, { 'label_attr': {'class': 'label-form'} }) }}<div class="mandatory">*</div>
                {{ form_widget(form.town) }}
                {{ form_errors(form.town) }}
            </div>
            <div class="col-md-9 offer-field">
                {{ form_label (form.location, null, { 'label_attr': {'class': 'label-form'} }) }}<div class="mandatory">*</div>
                {{ form_widget(form.location) }}
                {{ form_errors(form.location) }}
            </div>
            <div class="mandatory-text">* {{ 'offer.mandatory'|trans }}</div>
        </div>
        <div class="form-panel row shadow-box" data-step="2">
            <div class="col-md-12 offer-field">
                {% form_theme form.type 'typeChoice.html.twig' %}
                {{ form_label (form.type, null, { 'label_attr': {'class': 'label-form'} }) }}<div class="mandatory">*</div>
                {{ form_widget(form.type) }}
                {{ form_errors(form.type) }}
            </div>
            <div class="mandatory-text">* {{ 'offer.mandatory'|trans }}</div>
        </div>
        <div class="form-panel row shadow-box" data-step="3">
            <div class="col-md-8 offer-field">
                {{ form_label (form.surface, null, { 'label_attr': {'class': 'label-form'} }) }}<div class="mandatory">*</div>
                {{ form_widget(form.surface) }}
                {{ form_errors(form.surface) }}
            </div>
            <div class="col-md-8 house-field offer-field">
                {{ form_label (form.groundSurface, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.groundSurface) }}
                {{ form_errors(form.groundSurface) }}
            </div>
            <div class="col-md-8 offer-field">
                {{ form_label (form.roomNumber, null, { 'label_attr': {'class': 'label-form'} }) }}<div class="mandatory">*</div>
                {{ form_widget(form.roomNumber) }}
                {{ form_errors(form.roomNumber) }}
            </div>
            <div class="col-md-8 offer-field">
                {{ form_label (form.bathroomNumber, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.bathroomNumber) }}
                {{ form_errors(form.bathroomNumber) }}
            </div>
            <div class="col-md-8 house-field offer-field">
                {{ form_label (form.totalFloor, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.totalFloor) }}
                {{ form_errors(form.totalFloor) }}
            </div>
            <div class="col-md-8 flat-field offer-field">
                {{ form_label (form.floor, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.floor) }}
                {{ form_errors(form.floor) }}
            </div>
            <div class="mandatory-text">* {{ 'offer.mandatory'|trans }}</div>
        </div>
        <div class="form-panel row shadow-box" data-step="4">
            <div class="col-md-8 offer-field">
                {{ form_label (form.basementSurface, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.basementSurface) }}
                {{ form_errors(form.basementSurface) }}
            </div>
            <div class="col-md-8 offer-field">
                {{ form_label (form.parkingNumber, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.parkingNumber) }}
                {{ form_errors(form.parkingNumber) }}
            </div>
            <div class="col-md-8 offer-field">
                {{ form_label (form.buildingYear, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.buildingYear) }}
                {{ form_errors(form.buildingYear) }}
            </div>
            <div class="col-md-8 flat-field offer-field">
                {{ form_label (form.lift, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.lift) }}
                {{ form_errors(form.lift) }}
            </div>
            <div class="col-md-8 flat-field offer-field">
                {{ form_label (form.balcony, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.balcony) }}
                {{ form_errors(form.balcony) }}
            </div>
        </div>
        <div class="form-panel row shadow-box" data-step="5">

                {% form_theme form.images 'jquery.collection.html.twig' %}
                {{ form_label (form.images, null, { 'label_attr': {'class': 'label-form'} }) }}
                {{ form_widget(form.images) }}
                {{ form_errors(form.images) }}

            <div class="post-create-proposer-container" {% if (app.user.roles is defined) %}style="display: none"{% endif %}>

                <h3>{{ 'form.offer.signIn'|trans }}</h3>

                <div class="col-md-6 form-group">
                    {{ form_label (form.firstName) }}<div class="mandatory">*</div>
                    {{ form_widget(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label (form.lastName) }}<div class="mandatory">*</div>
                    {{ form_widget(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                </div>

                <div class="col-md-6 form-group">
                    {{ form_label (form.email) }}<div class="mandatory">*</div>
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                    <div class="error-already-exist">{{ 'form.registration.mailAlreadyExist'|trans }}</div>
                </div>

                <div class="col-md-6 form-group">
                    {{ form_label (form.phone) }}<div class="mandatory">*</div>
                    {{ form_widget(form.phone) }}
                    {{ form_errors(form.phone) }}
                </div>

                <div class="col-md-12">
                    <p>{{ 'form.registration.passwordValidation'|trans }}</p>
                    {{ form_widget(form.password) }}
                    {{ form_errors(form.password) }}
                    <div class="error-wrong-password">{{ 'form.registration.passwordValidation'|trans }}</div>
                </div>
                <div class="col-md-12">
                    {{ form_widget(form.terms) }}
                    {{ form_errors(form.terms) }}
                </div>
            </div>

            <div class="submit-offer-button-container">
                {{ form_widget(form.submit, { 'label': 'offer.submit','class': 'btn' }) }}
            </div>
        </div>

        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
        </div>
        <div class="col-md-4 col-sm-4 summary-container">
            <div class="shadow-box summary-offer">
                <div class="animated fadeIn">
                    <b>{{ 'offer.zipcode'|trans }}</b> :
                    <span class="zipcode"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.town'|trans }}</b> :
                    <span class="town"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.location'|trans }}</b> :
                    <span class="location"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.type'|trans }}</b> :
                    <span class="type"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.surface'|trans }}</b> :
                    <span class="surface"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.groundSurface'|trans }}</b> :
                    <span class="groundSurface"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.roomNumber'|trans }}</b> :
                    <span class="roomNumber"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.bathroomNumber'|trans }}</b> :
                    <span class="bathroomNumber"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.totalFloor'|trans }}</b> :
                    <span class="totalFloor"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.floor'|trans }}</b> :
                    <span class="floor"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.basementSurface'|trans }}</b> :
                    <span class="basementSurface"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.parkingNumber'|trans }}</b> :
                    <span class="parkingNumber"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.buildingYear'|trans }}</b> :
                    <span class="buildingYear"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.lift'|trans }}</b> :
                    <span class="lift"></span>
                </div>
                <div class="animated fadeIn">
                    <b>{{ 'offer.balcony'|trans }}</b> :
                    <span class="balcony"></span>
                </div>
            </div>
        </div>

        <div class="bottom-navigation col-md-12">


            <hr>
            <button class="btn btn-primary previous bottom-button">Previous</button>
            <button class="btn btn-primary next bottom-button" disabled>Next</button>
        </div>
        </div>
    </div>

    {#<script>#}

        {#$(".slider-button").click(function(e) {#}
            {#e.preventDefault();#}
            {#$(".slider").slideToggle("slow");#}


        {#});#}
    {#</script>#}

<script>
    $('#appbundle_proposer_type_0').change(function(e) {
            if(this.checked) {
                $('.house-field').show();
                $('.flat-field').hide();
            }else {
                $('.flat-field').show();
                $('.house-field').hide();
            }
    });
    $('#appbundle_proposer_type_1').change(function(e) {
            if(this.checked) {
                $('.flat-field').show();
                $('.house-field').hide();
            }
    });

    $('#appbundle_proposer_town').keypress(function(e) {
        e = e || window.event;
        var charCode = (typeof e.which == "undefined") ? e.keyCode : e.which;
        var charStr = String.fromCharCode(charCode);
        if (/\d/.test(charStr)) {
            return false;
        }
    });

    $('.progress-bar').css('width',(100/5)+"%");
    $('.previous').click(function (e) {
        e.preventDefault();
        let next = $('.next');
        if(next.is(":not(:visible)")){
            next.show();
        }
        var cur = $('.form-panel').index($('.form-panel.active'));
        if(cur == 1){
            $(this).hide();
        }
        if (cur!=0) {
            $('.form-panel').removeClass('active');
            $('.form-panel').eq(cur-1).addClass('active');
        }
        if(cur != $('.form-panel').length-2){
            if({{ app.user.role is not defined }}){
                $('.bottom-navigation').css('position','absolute');
            }
        }
        checkMandatory();
        progress();
    });
    $('.next').click(function (e) {
        e.preventDefault();
        let previous = $('.previous');
        if(previous.is(":not(:visible)")){
            previous.show();
        }
        var cur = $('.form-panel').index($('.form-panel.active'));

        let formValue = $('.form-vertical').serializeArray();

        for (let i = 0, len = formValue.length; i < len; i++) {
            let className = formValue[i]['name'];
            var matches = className.match(/\[(.*?)\]/);

            if (matches) {
                className = matches[1];
            }
            if(formValue[i]['value'] != ''){
                $('.'+className).parent().show();
            }

            var translation = formValue[i]['value'];

            if(formValue[i]['value'] == 'type.house'){
                translation = "{{ 'type.house'|trans }}";
            }else if(formValue[i]['value'] == 'type.flat'){
                translation = "{{ 'type.flat'|trans }}";
            }

            $('.'+className).html(translation);
        }
        if(cur == $('.form-panel').length-2){
            $(this).hide();
            if({{ app.user.role is not defined }}){
                $('.bottom-navigation').css('position','inherit');
            }
        }else {
            if({{ app.user.role is not defined }}){
                $('.bottom-navigation').css('position','absolute');
            }
        }
        if (cur!=$('.form-panel').length-1) {
            $('.form-panel').removeClass('active');
            $('.form-panel').eq(cur+1).addClass('active');
        }

        checkMandatory();
        progress();
    });

    $("input").keyup(function(){
        checkMandatory();
    });

    $("input[type='radio']").click(function(){
        checkMandatory();
    });

    function checkMandatory(){

        var disable = 0;
        $('.active input[required="required"]').each( function(e) {
            if($(this).val() == ''){
                disable++
            }
        });

        if($('.active #appbundle_proposer_location').val() ==''){
            disable++
        }

        if($('.active #appbundle_proposer_type').length > 0){
            if($('.active input[type="radio"]:checked').length > 0){
                $('.next').prop("disabled", false);
            }else{
                $('.next').prop("disabled", true);
            }

        }else if(disable == 0){
            $('.next').prop("disabled", false);
        }else {
            $('.next').prop("disabled", true);
        }
    }

    function progress(){
        var current = $('.active').data('step');
        $('.progress-bar').css('width',(100*current/5)+"%");
    }

    function detectmob() {
        if( navigator.userAgent.match(/Android/i)
            || navigator.userAgent.match(/webOS/i)
            || navigator.userAgent.match(/iPhone/i)
            || navigator.userAgent.match(/iPod/i)
            || navigator.userAgent.match(/BlackBerry/i)
            || navigator.userAgent.match(/Windows Phone/i)
        ){
            return true;
        }
        else {
            return false;
        }
    }

    $(document).ready(function() {
        if(detectmob()){
            var topForm = $('.form-vertical').offset().top;
            var windowHeight = $(window).height();
            var bottomHeight = $('.bottom-navigation').height();
            $('.form-panel').css('min-height',windowHeight-topForm-bottomHeight +22);
        }
    });

    {% if (app.user.roles is not defined) %}
        $("#appbundle_proposer_submit").prop("disabled",true);

        $('.post-create-proposer-container input').on('blur', function () {
            var empty = $(".post-create-proposer-container input").filter(function() {
                return this.value === "";
            });
            if(empty.length == 0 && $('#appbundle_proposer_terms').prop('checked') && checkPassword()) {
                $("#appbundle_proposer_submit").prop("disabled",false);
            }
        });

        $('#appbundle_proposer_password_first').on('blur', function () {
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*).*$/;
            if(!$(this).val().match(regex)){
                $('.error-wrong-password').show()
            }else {
                $('.error-wrong-password').hide()
            }
        });


    {% endif %}
</script>
    <script>
        $('#appbundle_proposer_email').on('blur', function () {
            let mail = this.value;
            url = "{{ path('user_already_exist') }}";
            $.ajax({
                url: url,
                data: {mail:mail}
            }).done(function( data ) {
                if(data != ''){
                    $('.error-already-exist').css({'display':'block'});
                    $("#appbundle_proposer_submit").prop("disabled",true);
                }else{
                    $('.error-already-exist').css({'display':'none'});
                    var empty = $(".post-create-proposer-container input").filter(function() {
                        return this.value === "";
                    });
                    if(empty.length == 0 && $('#appbundle_proposer_terms').prop('checked') && checkPassword()) {
                        $("#appbundle_proposer_submit").prop("disabled",false);
                    }
                }

            });
        });
        $('#appbundle_proposer_email').on('keyup', function () {
            let mail = this.value;
            url = "{{ path('user_already_exist') }}";
            $.ajax({
                url: url,
                data: {mail:mail}
            }).done(function( data ) {
                if(data == ''){
                    $('.error-already-exist').css({'display':'none'});
                    var empty = $(".post-create-proposer-container input").filter(function() {
                        return this.value === "";
                    });
                    if(empty.length == 0 && $('#appbundle_proposer_terms').prop('checked') && checkPassword()) {
                        $("#appbundle_proposer_submit").prop("disabled",false);
                    }
                }

            });
        });

        function checkPassword() {
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*).*$/;
            var response = false;


            if($('#appbundle_proposer_password_first').val() == $('#appbundle_proposer_password_second').val() && $('#appbundle_proposer_password_first').val().match(regex)){
                response = true;
            }

            return response;
        }
    </script>
    <style>
        .error-already-exist{
            display: none;
            color: #f0aa23;
            margin-top: 5px;
        }
        .error-wrong-password{
            display: none;
            color: red;
            margin-top: 5px;
        }
    </style>

{% endblock %}