{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="jumbotron homepage-jumbotron">
        <h2>{{ 'homepage.title'|trans }}</h2>
        <h3 class="homepage-subtitle">{{ 'homepage.title'|trans }}</h3>
    </div>

    <div class="about-us-container">
        <div class="container jobnow-container">
            <div class="jobnow-description fadeIn animated">
                <div style="display: -webkit-inline-box;">
                    <img class="about-us-icon" src="{{asset('images/search.svg')}}"><h3>{{ 'header.about.title'|trans }}</h3>
                </div>
                <p>{{ 'homepage.ourMission' |trans}}</p>
            </div>
        </div>
    </div>
    {% if ads is not empty %}
        <div class="container jobnow-container container">
            <h1 class="featured-offer text-center">{{ 'homepage.ourPartners'|trans }}</h1>
            <ul class="ads-list-hompeage" id="myUL">
                {% for ad in ads %}
                <li class="search-result animated fadeIn">
                    <a class='offer-element ad' href="{{ ad.link }}" target="_blank">
                        {% if ads[0].description is not null and ad.link is not empty %}
                            {% set image =  'uploads' ~ vich_uploader_asset(ad.coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                            <div class="background-proposer-in-offer-search" style="background-repeat: no-repeat;background-size: cover;background-image: url({{asset(image)}});">
                                <div class="layer layer-offer-element animated">
                                </div>
                            </div>
                            {% if ad.logo.imageName is not null %}<img class="logo-proposer-in-offer-search" src="{{asset('uploads' ~ vich_uploader_asset(ad.logo, 'imageFile', 'AppBundle\\Entity\\Image')) }}"/>{% endif %}
                            <div class="offer-search-element">
                                <div class="offer-element-details">
                                    <div class="offer-element-name">{{ ad.title }}</div>
                                    <div class="offer-element-title">{{ ad.description}}</div>
                                </div>
                            </div>
                        {% else %}
                            {% set image =  'uploads' ~ vich_uploader_asset(ads[adOrder].coverImage, 'imageFile', 'AppBundle\\Entity\\Image') %}
                            <div class="background-proposer-in-offer-search" style="width: 100% !important;background-repeat: no-repeat;background-size: cover;background-image: url({{asset(image)}});"></div>
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <style>
        .ads-list-hompeage{
            list-style-type: none;
            margin-top: 20px;
        }
        .about-us-icon{
            width: 70px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        .jobnow-description{
            color: white;
            margin-top: 60px;
            margin-bottom: 60px;
            text-align: center;
        }
        .about-us-container{
            background-color: #272f3b;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .homepage-href-row{
            padding: 10px;
            padding-right: 25px;
            font-size:20px;
        }
        .homepage-href-tag{
            text-decoration: none !important;
        }
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/jobnow-home.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>

{% endblock %}




